<style>
.container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
}

span {
    margin: 10px;
}
</style>

<div class="container">
    <span>Opa, {{name}}</span>
    <br>
    <span>Você solicitou alteração de senha.</span>
    <span>Para realizar a troca, clique no link</span>
    <a href="{{link}}">{{link}}</a>
        <span>Caso você não tenha solicitado essa alteração, por favor, ignore esse email</span>
</div>